h1{
    color: #00e600;
    outline: auto;
    text-align: center;
}

.ingredientes{
    color: #00e600;
    text-decoration: underline;
}

#preparacion{
    color: #00e600;
    text-decoration: underline;
}

img{
    background-color: aqua;
}

body{
    background-color: #c6ffb3;
}